body, html{
  margin:0;
  padding: 0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#d9d9d9;
}

#home-hero{
  background: url("../img/home.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  text-align: center;
}

.crossed{
  text-decoration: line-through;
}

#projects{
  background: url("../img/projects1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  text-align: center;
  margin: 0;
}

#about{
  background: url("../img/about1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  text-align: center;
  margin: 0;
}
#connect{
  background: url("../img/home.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  text-align: center;
  margin: 0;
}
.projects{
  display: inline-flex;
}

.active{
  border: 5px solid red;
  padding: 10px 20px;
  display: inline-block;
  text-align: right;
}
