body, html{
  height: 100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

/*
.hero, .projects, .about{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}
*/
/*
#home-hero{
  background: url("../img/home.jpg");
  opacity:0.70;
  min-height:100%;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
}
*/

#projects{
  background-color: url("../img/projects1.jpg");
  opacity:0.70;
  min-height:100%;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat:no-repeat;

}

#about{
  background-color: url("../img/about1.jpg");
  opacity:0.70;
  min-height:100%;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat:no-repeat;

}

#connect{
  background: url("../img/connect2.jpg");
  opacity:0.70;
  background-position:center;
  min-height:100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat:no-repeat;


  ;
}
